body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: black;
    width: 400px;
    border-radius: 1rem;
    /* height: 63%; */
}

.maincontent {
    /* height: 518px; */
    background-color: #121212;
    flex: 1;
    overflow: auto;
    border-radius: 1rem;
    margin-top: 0.4rem;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    padding: 0 1.5rem 0 1.5rem;
}

/* .maincontent:hover {
    overflow: scroll;
} */

.musicplayer {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 82px;
    padding: 0.4rem;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    padding: 0.5rem 0.7rem;
    margin: 0.4rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.7rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
    margin-right: 0.7rem;
}

.nav-option a {
    font-size: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem 0.7rem;
    margin: 0.4rem;
    overflow: auto;
}

.options {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.7rem;
}

.lib-option {
    opacity: 0.7;
    padding: 0.5rem 0.7rem;
    
}

.lib-option:hover {
    opacity: 1;
}

.actions {
    opacity: 0.7;
    display: flex;
    height: 35px;
    width: 120px;
    justify-content: space-around;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 1.5rem;
}

.actions:hover {
    opacity: 1;
}

.righticn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    opacity: 0.7;
    margin-right: 0.5rem;
}

.righticn:hover {
    opacity: 1;
    background-color: #1f1f1f;
    border-radius: 50%;
}

.boxes {
    height: 6.75rem;
    background-color: #1f1f1f;
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 1rem 1.4rem;
}

.boxp1 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
}

.boxp2 {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 2rem;
    opacity: 0.75;
}

.badge {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    height: 2.2rem;
    border-radius: 100px;
    background-color: white;
    color: #1f1f1f;
    border: none;
    padding: 0.5rem 1rem;
    width: fit-content;
}

.badge:hover {
    transform: scale(1.02);
    background-color: #f0f0f0;
}

.badge-nav-hide {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    height: 2.2rem;
    border-radius: 100px;
    background-color: white;
    color: #1f1f1f;
    border: none;
    padding: 0.5rem 1rem;
    width: fit-content;
}

.badge-nav-hide:hover {
    transform: scale(1.02);
    background-color: #f0f0f0;
}

.badge-install {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    height: 2.2rem;
    border-radius: 100px;
    background-color: #121212;
    color: #f0f0f0;
    border: none;
    padding: 0.5rem 1rem;
    width: fit-content;
}

.badge-install i {
    margin-right: 0.7rem;
}

.badge-install:hover {
    color: white;
    transform: scale(1.04);
    background-color: black;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0.2rem 0 0.2rem 0;
}
 
.sticky-nav img {
    height: 1.50rem;
    width: 1.50rem;
    margin-left: 1rem;
}

.nav-right-icn button {
    margin: 0;
    margin-right: 1rem;
}

.sticky-nav i {
    margin-right: 1rem;
} 


.nav-left-icn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-1 {
    border-radius: 50%;
}

.left-1:hover {
    background-color: black;
}

.left-2-hide {
    border-radius: 50%;
}

.left-2-hide:hover {
    background-color: black;
}

@media (max-width: 1000px) {
    .left-2-hide {
        display: none;
    }
    .badge-nav-hide {
        display: none;
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;

}

.card {
    width: 160px;
    border-radius: 0.75rem;
    padding: 0.8rem;
    margin-right: 1.3rem;
}

.card-img {
    width: 100%;
    border-radius: 0.75rem;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.75rem;
    opacity: 0.7rem;
}

.card:hover {
    background-color: #1f1f1f;
}

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 90%;
    height: 60%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.musicplayer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
    height: 100%;
}

.player {
    width: 50%;
}

.controls {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.4rem;
    padding-right: 0.4rem;
}

.controls i {
    font-size: 1.25rem;
    opacity: 0.7;
}

.controls i:hover {
    opacity: 1;
    transform: scale(1.03);
}
.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icn {
    height: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    opacity: 0.7;
}

.player-control-icn:hover {
    opacity: 1;
    transform: scale(1.03);
}

.third {
    height: 2.5rem;
    opacity: 1;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd761;
    border-radius: 50%;
    margin-top: -6px;
}

.time {
    font-size: 0.7rem;
}

.album {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.album-pic {
    height: 5rem;
    width: 5rem;
    border-radius: 0.4rem;
    margin-right: 0.65rem;
}

.album-info {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
.album-title {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.album-text {
    font-size: 0.7rem;
    margin-top: 0.4rem;
    color: #b3b3b3;
}

.album-text:hover {
    color: white;
}

.album i {
    opacity: 0.7;
    align-self: center;
}

.album i:hover {
    opacity: 1;
    transform: scale(1.03);
}

.vol-bar {
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.vol-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.vol-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #0bb6d4;
    border-radius: 50%;
    margin-top: -6px;
}
